{% extends 'base.html' %}

{% block hero %}
<!-- header start -->
<header id="header" class="header-wrapper home-parallax home-fade">
    <div class="header-overlay"></div>
    <div class="header-wrapper-inner">
        <div class="container">

            <div class="welcome-speech">
                <h1>Goobe's Subscription Box</h1>
                <p>Clever catchy tagline</p>
                <a href="#" class="btn btn-white">
                    About
                </a>
            </div><!-- /.intro -->
            
        </div><!-- /.container -->

    </div><!-- /.header-wrapper-inner -->
</header>
<!-- /#header -->
{% endblock %}


{% block content %}
{% endblock %}
