{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Shop</h2>
            </div>
        </div>
        {% for item in object_list %}
        <div class="row">
            <div class="col-sm-1">{{ item.name }}</div>
            <div class="col-sm-2">{{ item.description|safe }}</div>
            <div class="col-sm-2">
                {% if item.image %}
                <img src="{{ item.image.url }}">
                {% endif %}
            </div>
            <div class="col-sm-2">₹{{ item.price }}</div>
            <div class="col-sm-2">
                <a href="{% url 'shop-item' pk=item.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
