{% extends 'base.html' %}

{% block content %}
<section>
  <div class="container">
      {% if response.success %}
      <div class="row">
          <div class="col-md-3"><h2>Confirm Payment</h2></div>
      </div>  
      <div class="row">
          <div class="col-md-3">
              <h3>{{ item.name }}</h3>
            {{ item.description }}
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <b>Total:</b>₹ {{ item.price }}
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <a href="{{ response.payment_request.longurl }}" class="btn btn-primary">Proceed to Payment</a>
          </div>
      </div>
      {% else %}
      <div class="row">
          <div class="col-md-3">
            Failed to connect to payment gateway: {{ response.message }} 
          </div>
      </div>
      {% endif %}
  </div>
</section>
{% endblock %}
